<div class="comment-rating" data-score="<%= comment.rating %>"></div>

 <table border="2">
  <tr>
   
      <th>
     <strong>Rating:</strong>
    </th>
    <th>
     <strong>Comment:</strong>
    </th>
    <th></th>
  </tr>
  <tr>
    
     <td>
      <%= comment.rating %>
    </td>
    <td>
     <%= comment.description %>
    </td>
    <td>
      <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
</table>
